$primary : #ffff;

.btn {
    padding: 8px 20px;
    font-family: serif;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin: 2px;

    :first-child {
        margin-right: 5px;
    }
}

.primary {
    background-color: #242424;
    color: $primary;
    border: none;

}

.btn--primary {
    background-color: $primary;
    color: #242424;
    border: 1px solid $primary; 
}

.btn--outline {
    background-color: transparent;
    border: 0.5px solid $primary; 
    transition: all 0.3s ease-out;
    border-color: #45A29E;
    padding-right: 40px;
    padding-left: 40px;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 10px 30px 10px 30px;
    font-size: 27px;
}

.btn--small {
    font-size: 14px;
    padding: 8px 12px 8px 12px;
    margin: 5px;

}

.btn--icon {
    width: 30px;
    height: 30px;
    border-radius: 45%;
    font-size: 12px;
    padding: 8px;

    &:hover {
        border-radius: 40%;
    }

}

.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: $primary;
    border: 1px solid $primary;
    transition: all 0.3s ease-out;

}

.btn--wide {
    padding: 8px 64px;
    font-size: 18px;
}

.blue {
    background-color: #276afb;
    color: $primary;
    border: none;

    &:hover {
        transition: all 0.3s ease-out;
        background-color: #f00946;
    }
}

.green {
    background-color: #25ce40;
    color: $primary;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(37,206,64,0.2);

    &:hover {
        transition: all 0.3s ease-out;
        background-color: #276afb;
        box-shadow: 2px 2px 2px 2px rgba(39,106,251,0.2);
    }
}

.red {
    background-color: #f00946;
    color: $primary;

}

.outblue {
    border: 1px solid #276afb;
    color: #242424;

    &:hover {
        background-color: #276afb;
        color: $primary;
    }
}

.yellow {
    background-color: rgba(255,193,7,0.7);
    color: black;
}

.icon--blue {
    background-color: #276afb;
    color: $primary;
    border: none;
    
    &:hover{
        background-color: #276afc;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 5px 2px #276afc;
    }
}

.icon--green {
    background-color: #276;
    color: $primary;
    border: none;
    
    &:hover{
        background-color: #277;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 5px 2px #277;
    }
}


