.Choices_page_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100vw;

    .Choice_As_Students {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        height: 100%;box-sizing: border-box;
        color: #DEF2F1;
        box-shadow: 2px 2px 2px 2px rgba(39,106,251,0.3);
        flex-basis: 50%;
        background-image: linear-gradient(#0b0C10, #242582);
    }

    .Choice_As_Faculty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-basis: 50%;
        background-image: linear-gradient(#0B0C10,#116466);
    } 

    .Choice_buttons {
        display: flex;
        justify-content: center;
        margin: 30px;
    }
}